@font-face {
  font-family: 'basier_circle';
  src: url('/fonts/basier_circle_regular-webfont.woff2') format('woff2'),
    url('/fonts/basier_circle_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'basier_circle';
  src: url('/fonts/basier_circle_medium-webfont.woff2') format('woff2'),
    url('/fonts/basier_circle_medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

h1 {
  @apply text-4xl;
}

h4 {
  @apply font-bold;
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html,
body {
  @apply antialiased text-gray-800 font-basier-circle;
}

a {
  @apply transition duration-150 ease-in-out;
}

body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
}

nav {
  display: flex;
  padding: 1.5rem 1rem;
}

.brand {
  display: flex;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .nav {
    padding: 1.5rem 4rem;
  }
}

footer,
footer a {
  color: white;
}

@media (min-width: 768px) {
  footer {
    padding: 1rem 3rem;
  }
}

:root {
  --box-shadow-long: 0 2px 16px 4px rgba(42, 47, 115, 0.2);
  --box-shadow-medium: 0 2px 16px 4px rgba(42, 47, 115, 0.1);
}

header {
  text-align: center;
  color: #fff;
  padding-top: 60px;
  min-height: 350px;
}

@media (max-width: 768px) {
  header {
    padding: 30px 20px;
    min-height: 0;
  }
}

/** Home */

.container {
  max-width: 1200px;
  margin: 40px auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid-container .blogposts {
  grid-column: 1 / span 4;
}

.blogposts__header,
.sidenav__header {
  font-weight: normal;
  font-size: 30px;
  color: #12284c;
}

.grid-container .sidenav {
  display: none;

  grid-column: 1 / span 4;
}

.navigation-by-tag {
  display: flex;
  flex-flow: column nowrap;
}

.navigation-by-tag .tag {
  margin: 0.5rem 0;
}

.grid-container .tag {
  font-size: 21px;
  color: #16498a;

  cursor: pointer;
}

.grid-container .pagination {
  grid-column: 1 / span 4;
  grid-row: 3;
}

.grid-container .cards-deck {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100%);
  grid-auto-rows: 410px;

  grid-gap: 20px;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-rows: auto 12rem auto;
  }

  .grid-container .cards-deck {
    grid-template-columns: repeat(auto-fill, 320px);
  }
}

@media (min-width: 991px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 33rem auto;
  }
}

@media (min-width: 1200px) {
  .grid-container .sidenav {
    display: block;

    grid-column: 4;
  }

  .grid-container .pagination {
    grid-column: 2 / span 2;
  }
}

/** Post */

header.post {
  min-height: 500px;
}

article {
  font-size: 15px;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 40px;
  margin: -350px auto 0;
}

article h1 {
  font-size: 36px;
}

article h1 {
  margin: 0 -20%;
  max-width: 160%;
}

article img {
  margin: 0 auto;
  width: 100%;
  border-radius: 8px;
  margin-top: 60px;
  margin-bottom: 80px;
  box-shadow: var(--box-shadow-medium);
}

article p:nth-child(2) > img {
  margin: 0 -20%;
  max-width: 140%;
  width: 140%;
  margin-top: 60px;
  box-shadow: var(--box-shadow-long);
}

article .markdown {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.markdown > p:first-child,
article .post-header {
  color: white;
  text-align: center;
  font-weight: 600;
  margin-top: -20px;
}

@media (max-width: 500px) {
  .markdown > p:first-child,
  article .post-header {
    max-height: 290px;
  }
  article p:nth-child(2) > img {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

.markdown > p:first-child a {
  color: #27dfbd;
}

.markdown p,
.markdown ul,
.markdown ol {
  margin-bottom: 1.5rem;

  font-size: 1rem;
  line-height: 1.8;
  letter-spacing: 0.01rem;
}

/* .markdown pre {
  margin: 3rem 0;
} */

.markdown ul,
ol {
  margin: 1.5rem 0 1.5rem 10px;
}

.markdown ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}
.markdown ol li {
  counter-increment: my-awesome-counter;
}
.markdown ol li::before {
  content: counter(my-awesome-counter) '. ';
  color: #a127df;
  font-weight: bold;
}

.markdown li {
  margin-bottom: 0.5rem;
}

.markdown li::before {
  content: '•';
  color: #a127df;
  margin-right: 10px;
}

.markdown h2,
.markdown h3,
.markdown h4 {
  margin: 3rem 0 0.75rem;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.6;
}

.markdown h4 {
  font-weight: 500;
}

.markdown a {
  transition: color 0.2s;
}

.suggestions {
  display: flex;
  flex-flow: row;
  padding: 1.5rem 0;
  margin: 1rem auto 1rem 4rem;
  justify-content: flex-start;
}

.suggestions .card {
  margin: 0 1rem;
  height: 450px;
  width: 320px;
}

.suggestions .card:first-of-type {
  margin-left: 0;
}

@media (max-width: 768px) {
  article img {
    margin: 0 auto;
    max-width: 80%;
    width: 80%;
  }
}

/** Card */

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;

  transition: box-shadow 0.2s;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease-out, transform 0.3s ease-out,
    opacity 0.1s ease-out;
}

.card:hover {
  box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.16);
  box-shadow: rgba(45, 45, 45, 0.05) 0px 2px 2px,
    rgba(49, 49, 49, 0.05) 0px 4px 4px, rgba(42, 42, 42, 0.05) 0px 8px 8px,
    rgba(32, 32, 32, 0.05) 0px 16px 16px, rgba(49, 49, 49, 0.05) 0px 32px 32px,
    rgba(35, 35, 35, 0.05) 0px 64px 64px;
  transform: translate(0, -4px);
}

.card__header {
  flex-basis: 40%;
  flex-grow: 1.5;
  max-height: 180px;

  background-size: cover !important;
}

.card__body {
  display: flex;
  flex-direction: column;
  flex-shrink: 0.8;

  padding: 0.25rem 1rem;
}

.card__footer {
  width: 100%;
  padding: 1rem 1rem;
}

.card__title {
  font-size: 20px;
  color: #12284c;
}

.card__text {
  margin: 0;

  line-height: 1.5;
  color: #12284c;

  opacity: 0.8;
}

.card__action {
  text-decoration: none;
  font-weight: 500;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: '\201C''\201D''\2018''\2019';
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

pre,
code {
  padding: 10px;
  background: #252a63;
  color: #f8f8f2;
  line-height: 30px;
}

p > code {
  font-weight: 400;
  font-size: 0.875em;
  padding: 2px 4px 3px;
  border-radius: 3px;
  background: #e8e2ff;
  color: #252a63;
}
